<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @task.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @task.avatar_url %>
</p>

<p>
  <strong>Clicked:</strong>
  <%= @task.clicked %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
